<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Libraries -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
  <!-- Javascripts -->
  <script src='/assets/app.js'></script>
  <script src='/assets/controllers/authcontroller.js'></script>
  <script src='/assets/controllers/navcontroller.js'></script>
  <script src='/assets/controllers/productscontroller.js'></script>
  <script src='/assets/factories/authfactory.js'></script>
  <script src='/assets/factories/productsfactory.js'></script>
  <title>Wintersell</title>
</head>
<body style="margin-left: 20px;">
  <nav class="navbar navbar-default pull-right" ng-controller="navController">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr>
      <ui-view></ui-view>
      <hr>
    </div>
  </div>

<!-- Home Template -->
  <script type="text/ng-template" id="/home.html">
    <h1>Welcome to Wintersell: The Game of Thrones Online Store</h1>
    <h3 ng-hide="isLoggedIn()">You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can view the store.</h3>
    <button><a href="/#/products">Go To Store</a></button>
  </script>

<!-- Products Template -->
  <script type="text/ng-template" id="/products.html">
    <h3 ng-hide="isLoggedIn()">You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a product.</h3>
    <form ng-submit="addProduct()"
      style="margin-top:30px;">
      <h3>Add A Product</h3>
      Name: <input type="text"
      class="form-control"
      placeholder="Name"
      ng-model="name"><br>
      Condition: <select ng-model="condition" class="form-control">
                    <option value="Mint Condition">Brand New</option>
                    <option value="Barely New">Slightly Used</option>
                    <option value="Barely Used">Slightly Used</option>
                    <option value="Slightly Used">Used</option>
                    <option value="Decrepit">Decrepit</option>
                  </select><br>
      Quantity: <input type="number"
      class="form-control"
      placeholder="Quantity"
      ng-model="quantity"><br>
      Price: <input type="number"
      class="form-control"
      placeholder="Price"
      ng-model="price"><br>
      <button type="submit" class="btn btn-primary" ng-click="uploadPic()">Upload An Image</button>
      <br>
      <br>
      <button type="submit" class="btn btn-primary">Submit Product</button>
    </form>
    <h2>All Products</h2>
    <div ng-repeat="product in products">
      <h3>{{ product.name }}</h3>
      <p><strong>Seller:</strong> {{ product.seller }}</p>
      <p><strong>Condition:</strong> {{ product.condition }}</p>
      <p><strong>Quantity:</strong> {{ product.quantity }}</p>
      <p><strong>Price:</strong> {{ product.price | currency }}</p>
      <p><a href="#/products/{{product._id}}"><button>View This Product</button></a></p>
    </div>
  </script>

 <!-- One Product Template -->
  <script type="text/ng-template" id="/oneproduct.html">
    <h3>{{ foundProduct.name }}</h3>
    Seller: <p>{{ foundProduct.seller }}</p>
    Condition: <p>{{ foundProduct.condition }}</p>
    Quantity: <p>{{ foundProduct.quantity }}</p>
    Price: <p>{{ foundProduct.price }}</p>
    <br>
    <a href=""><button>Review This Product</button></a>
    <a href="#/products"><button>Go back</button></a>
  </script>

  <!-- Register Template -->
  <script type="text/ng-template" id="/register.html">
    <div class="page-header">
      <h1>Register</h1>
    </div>
    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>
    <form ng-submit="register()"
      style="margin-top:30px;">
      <h3>Register</h3>
      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>

  <!-- Login Template -->
  <script type="text/ng-template" id="/login.html">
    <div class="page-header">
      <h1>Login</h1>
    </div>
    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>
    <form ng-submit="login()"
      style="margin-top:30px;">
      <h3>Log In</h3>
      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </script>

</body>
</html>
